<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>브랜드별 커피숍 위치 분포</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div>
        <h1>브랜드별 커피숍 위치 분포</h1>
        <img src="data:image/png;base64,{{ myimage }}" alt="브랜드별 커피숍 위치 분포 차트" />
    </div>
</body>
</html>
